{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-4">Crear Producto</h1>
<form  method="POST" enctype="multipart/form-data">
    <!-- Campo de nombre del producto -->
    <div class="mb-3">
        <label for="name" class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <!-- Campo de descripción -->
    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>

    <!-- Campo de precio -->
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" name="price" required>
    </div>

    <!-- Campo de categoría -->
    <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="category" name="category" required>
    </div>

    <!-- Campo de cantidad disponible -->
    <div class="mb-3">
        <label for="cant_disp" class="form-label">Cantidad Disponible</label>
        <input type="number" class="form-control" id="cant_disp" name="cant_disp" required>
    </div>

    <!-- Campo de imagen -->
    <div class="mb-3">
        <label for="image" class="form-label">Imagen del Producto</label>
        <input type="file" class="form-control" id="image" name="image" required>
    </div>

    <button type="submit" class="btn btn-primary">Crear Producto</button>
</form>
{% endblock %}