{% extends "baseLogin.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% block titulo %}Bienvenido{% endblock %}
<form method="POST">
    <div class="mb-3">
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Correo Electrónico"
            required
        />
    </div>
    <div class="mb-3">
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Contraseña"
            required
        />
    </div>
    <button type="submit" class="btn btn-warning w-100">Iniciar Sesión</button>
    <div class="text-center mt-3">
        <p>¿No tienes cuenta?  <a href="/sign-up" class="text-decoration-none">Regístrate aquí</a></p>
    </div>
</form>
{% endblock %}



